
@{
    ViewBag.Title = "DeleteConfirmed";
}
<h2>Delete Error</h2>
<br />
<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    You cannot delete a user who has a nomination. 
</div>
<br />
@Html.ActionLink("Return to home", "index", "home")



